@import "../../../node_modules/vuetify/dist/vuetify.min.css";

// https://vuejs.org/v2/api/#v-cloak
[v-cloak] {
  display: none;
}

.loading-spinner {
  background: rgba(255,255,255,0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  display: flex;
}

.progress-circular--indeterminate {
  margin: auto;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to
  /* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.headline {
  word-break: break-word;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}
